<!DOCTYPE html>
<head>
    <title>Video upload service</title>
</head>
<body>
    <form id="fileUpload" action="/upload" enctype="multipart/form-data" method="post">
    <input id="videoFile" type="file" name="upload" multiple="multiple"><br>
    <input type="submit" value="Upload">
    </form>
    
    <button id="filePicker">Pick a file</button>
    <button id="clearSelectedFiles">Clear selected files</button>
    
    <table>
        <thead>
            <th>File name</th>
            <th>size</th>
        </thead>
        <tbody id="selectedFiles"></tbody>
    </table>
    
    <h2>Current user files:</h2>
    <table>
        <thead>
            <th>name</th>
            <th>type</th>
            <th>duration</th>
            <th>link</th>
        </thead>
        <tbody>
        <% userFiles.forEach(function(file){ %>
            <tr>
                <td><%= file.file.name %></td>
                <td><%= file.meta.video.container %></td>
                <td><%= file.meta.duration.raw %></td>
                <td><a href="<%= file.file.path %>">link</a></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <h2>All available files:</h2>
        <table>
        <thead>
            <th>name</th>
            <th>type</th>
            <th>duration</th>
            <th>link</th>
        </thead>
        <tbody>
        <% files.forEach(function(file){ %>
            <tr>
                <td><%= file.file.name %></td>
                <td><%= file.meta.video.container %></td>
                <td><%= file.meta.duration.raw %></td>
                <td><a href="<%= file.file.path.split('/')[1] %>">link</a></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="main.js"></script>
    
</body>
</html>